body {

	background-color: #000;
}

.content {

	width: 400px;
	height: 200px;
	background: none repeat scroll 0 0 #ccc;
	margin: 0 auto 0;
	top: 100px;
	left: 500px;
	position: absolute;

}

.box_round {

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.box_shadow {

	-webkit-box-shadow: 0 0 10px 0 #ffffff;
    -moz-box-shadow: 	0 0 10px 0 #ffffff;
    box-shadow: 		0 0 10px 0 #ffffff;
}

.box_gradient {

  	background-color: #f9f9f9;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#a6a6a6));
  	background-image: -webkit-linear-gradient(top, #f9f9f9, #a6a6a6);
  	background-image: -moz-linear-gradient(top, #f9f9f9, #a6a6a6);
  	background-image: linear-gradient(to bottom, #f9f9f9, #a6a6a6);
}

.box_rotate {
  	-webkit-transform: rotate(7.5deg); 
    -moz-transform: rotate(7.5deg); 
  	transform: rotate(7.5deg);

}

.box_scale {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.box_scale_rotate {
	-moz-transform: rotate(7.5deg) scale(0.7);
	-webkit-transform: rotate(7.5deg) scale(0.7);
	transform: rotate(7.5deg) scale(0.7);
}

.box_3dtransforms {
	-moz-perspective: 300;
	--webkit-perspective: 300;
	perspective: 300;
	
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	-moz-transform-style: preserve-3d;
	--webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}